.contacts__information {
  display: flex;
  justify-content: center;

  &--phones, &--emails,
  &--address, &--open-hours {
    display: block;
    width: 250px;
    height: 200px;
    margin: 2%;
    border: 1px solid #000000;
    text-align: left;
    padding: 0 10px;
    border-radius: 0.6vw;
  }

  &-title {
    text-align: center;
    margin: -35px 0 25px;
  }
}
