.footer {
  display: block;
  width: 100%;
  height: 25vw;
  border: 1px solid #000000;
  background-color: #02424a;
  border-radius: 0;

  &__menu {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 5vw;
    top: 3.5vw;
    text-align: left;
    width: 8vw;
    font-size: 1vw;

    &-link {
      margin: 1vw 0;
      text-decoration: none;
      color: #02424a;
      font-weight: bolder;
      padding: 0.2vw 1vw;
      border-radius: 0.6vw;
      background: #fff;

      &:hover {
        color: #ffffff;
        background: #90bfb8;
        outline-style: double;
        border-radius: 0;
      }
    }
  }

  &__address {
    width: 17vw;
    height: 18vw;
    border: 1px solid #000;
    position: absolute;
    top: 2.5vw;
    left: 18vw;
    background-color: #ffffff;
  }

  &__map {
    width: 40vw;
    height: 18vw;
    position: absolute;
    right: 0;
    top: 2.5vw;
    border: 1px solid #000;
    background-color: #ffffff;
  }

  &__copyright {
    width: 85vw;
    position: absolute;
    bottom: 10px;
    font-size: 1vw;
    color: #ffffff;
  }
}
