.footer {
  display: block;
  width: 100%;
  height: 300px;
  border: 1px solid #000000;
  background-color: #A7D2BE;

  &__menu {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 120px;
    top: 60px;
    width: 10%;
    text-align: left;

    &-link {
      margin: 10px 0;
      text-decoration: none;
      color: #0056ff;
      font-weight: bolder;
      padding: 2px 20px;
      border-radius: 8px;
      background: #fff;

      &:hover {
        color: #a242af;
      }
    }
  }

  &__address {
    width: 20%;
    height: 200px;
    border: 1px solid #000;
    position: absolute;
    top: 45px;
    left: 23%;
  }

  &__map {
    width: 35%;
    height: 200px;
    position: absolute;
    right: 250px;
    top: 45px;
    border: 1px solid #000;
  }

  &__copyright {
    width: 95%;
    margin: 100px 0 auto;
  }
}