.contacts-form {
  display: block;
  width: 85%;
  position: relative;
  border: 1px solid #000;
  margin: 30px auto;
  text-align: left;

  &__email, &__phone,
  &__first-name, &__last-name, &__message {
    display: block;
    width: 100%;
    height: 25px;
    margin: 10px;
    font-size: 16px;
  }

  &__title {
    text-align: center;
    //margin-bottom: 50px;
    color: #02424a;
    text-transform: uppercase;
    margin: 1.5em 0;
  }

  &__label {
    margin-left: 10px;

    &--checkbox {
      position: relative;
      top: -30px;
    }
  }
  &__persons-data,
  &__persons-message {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 10px;
    height: 18.05em;
  }
  &__persons-message {
    position: absolute;
    top: 120px;
    left: 50%;
  }

  &__message {
    height: 27.5vh;
  }

  &__text {
    width: 60%;
    margin-left: 20px;
    position: relative;
    top: -20px;
  }

  &__checkbox {
    margin: 20px 0 0 20px;
    position: relative;
    top: -28px;
  }

  &__button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin: 0 30px;
    position: relative;
    bottom: 30px;
    float: right;
  }
}