.header {
  display: block;
  width: 100%;
  height: 11vw;
  border: 1px solid #000000;
  background-color: #02424a;

  &__menu {
    width: 45vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 7vw;
    right: 2vw;

    &-link {
      margin: 1vw 0;
      text-decoration: none;
      color: #02424a;
      font-weight: bolder;
      padding: 0.2vw 1vw 0;
      border-radius: 0.6vw;
      background: #fff;
      font-size: 1vw;
      line-height: 1.5;

      &:hover {
        color: #ffffff;
        background: #90bfb8;
        border-radius: 0;
        outline-style: double;
       }
    }
  }

  &__logo {
    position: absolute;
    left: -5vw;
    top: 6%;
    width: 25%;
    overflow: hidden;
  //  background-image: url("../../src/images/logo.jpg");
  }

  &__logo-image {
    width: 9vw;
    border-radius: 12px;
  }

  &__search {
    width: 50vw;
    height: 2.5vw;
    border-radius: 10px;
    outline: 0;
    position: absolute;
    top: 2.5vw;
    right: 0;
    font-size: 18px;
    text-transform: uppercase;
  }
}
