@import"header";
@import"footer";

.home {
  
  &__title {
    text-align: center;
    color: #02424a;
    text-transform: uppercase;
    margin: 1.5em 0;
  }

  &__slider {
    width: 100%;
    border: 1px solid #000000;
    margin: 3vw 0;
    overflow: hidden;
    outline-style: double;

    &-item {
      width: 100%;
      height: 38vw;
      border: 1px solid #000;
      background-image: url("../../src/images/bg_1.jpg");
      background-size: cover;
    }

    &-img {
      width: 100%;
      border: 1px solid #02424a;
    }
  }

  &__category {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-choose {
      width: 30%;
      height: 20vw;
      border: 1px solid #000;
      margin: 3vw 0;
      outline-style: double;

      &--swimming-pool {
        background: url("../../src/images/swimming_pool.jpg") no-repeat;
        background-size: cover;
      }
      &--studio-apartment {
        background: url("../../src/images/studio_apartments.jpg") no-repeat;
        background-size: cover;
      }
      &--luxury-houses {
        background: url("../../src/images/luxury_houses.jpg") no-repeat;
        background-size: cover;
      }
    }

    &-button {
      padding: 0.8vw 0.8vw;
      color: #fff;
      background-color: #02424a;
      border-radius: 1vw;
      position: relative;
      bottom: -50%;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1vw;

      &:hover {
        background-color: #a0bfb8;
        cursor: pointer;
        border: 1px solid #a0bfb8;
        border-radius: 0;
        outline-style: double;
      }
    }
  }

  &__offer {
    display: flex;
    justify-content: space-between;

    &-item {
      width: 25%;
    }

    &-img {
      width: 100%;
      height: 15vw;
      overflow: hidden;
      border: 1px solid #000000;
      outline-style: double;
    }

    &-image {
      width: 100%;
    }

    &-description {
      width: 100%;
      padding: 5px;
      text-align: left;
    }
  }

  &__button--all {
    width: 30%;
    height: 65px;
    text-align: center;
    border: 1px solid #02424a;
    color: #ffffff;
    background-color: #02424a;
    margin: 5%;
    text-transform: uppercase;
    border-radius: 10px;

    &>a {
      color: #ffffff;
      text-decoration: none;
    }

    &:hover {
      background-color: #90bfb8;
      border-color: #90bfb8;
      cursor: pointer;
      border-radius: 0;
      outline-style: double;
      outline-color: #02424a;
    }
  }
}
