@import "header";
@import "footer";

.catalog {
  display: flex;

  &__title {
    text-align: center;
    color: #02424a;
    text-transform: uppercase;
    margin: 1.5em 0;
  }

  &__section {
    width: 70%;
    margin: 20px;
  }

  &__aside {
    width: 25%;
    margin: 5px 0 -5px 100px;

    &--weather {
      border: 1px solid #000000;
      margin: 10px 0;
      overflow: hidden;
      &>div {

      }
    }

    &--news {
      border: 1px solid #000000;
      margin: 10px 0;
      height: 65%;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 45%;

    &-img {
      width: 100%;
      border: 1px solid #000000;
      overflow: hidden;
      border-radius: 0;
      outline-style: double;
    }

    &-image {
      width: 100%;
      border-radius: 0;
    }

    &-description {
      width: 100%;
      padding: 5px;
      text-align: left;
      height: 250px;
      overflow: hidden;
      margin-bottom: 30px;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;

    &-item {
      width: 50px;
      list-style-type: none;
      border: 1px solid transparent;
      padding: 10px 0;

      &:hover {
        border-color: #02424a;
        cursor: pointer;
      }
    }

    &-link {
      text-decoration: none;
      color: #02424a;
    }
  }
}
