@import"header";
@import"footer";

.home {
  
  &__title {
    text-align: center;
    color: #0056ff;
    text-transform: uppercase;
  }

  &__slider {
    width: 100%;
    height: 450px;
    border: 1px solid #000000;
    margin: 30px 0;
    overflow: hidden;

    &-item {
      width: 100%;
   //   height: 100%;
      border: 1px solid #000;
      background-image: url("../../src/images/bg_1.jpg");
      background-size: cover;
    }

    &-img {
   //   width: 100%;
      height: 65vh;
      border: 1px solid #0056ff;
    }
  }

  &__category {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-choose {
      width: 30%;
      height: 200px;
      background-size: cover;
      border: 1px solid #000;
      margin: 30px 0;

      &--swimming-pool {
        background: url("../../src/images/swimming_pool.jpg") no-repeat;
      }
      &--studio-apartment {
        background: url("../../src/images/studio_apartments.jpg") no-repeat;
      }
      &--luxury-houses {
        background: url("../../src/images/luxury_houses.jpg") no-repeat;
      }
    }

    &-button {
      padding: 8px 30px;
      color: #fff;
      background-color: #0056ff;
      //border: 1px solid #0056ff;
      border-radius: 5px;
      position: relative;
      bottom: -100px;
      text-decoration: none;
      text-transform: uppercase;
      border: 1px solid #fff;

      &:hover {
        background-color: #a242af;
        cursor: pointer;
        border: 1px solid #a242af;
      }
    }
  }

  &__offer {
    display: flex;
    justify-content: space-between;

    &-item {
      width: 25%;
    }

    &-img {
      width: 100%;
      height: 35vh;
      overflow: hidden;
      border: 1px solid #000000;
    }

    &-image {
      width: 100%;
    }

    &-description {
      width: 100%;
      padding: 5px;
    }
  }

  &__button--all {
    width: 30%;
    height: 65px;
    text-align: center;
    border: 1px solid #0056ff;
    color: #ffffff;
    background-color: #0056ff;
    margin: 5%;
    text-transform: uppercase;
    border-radius: 10px;

    &>a {
      color: #ffffff;
      text-decoration: none;
    }

    &:hover {
      background-color: #a242af;
      border-color: #a242af;
      cursor: pointer;

      &>a {
        text-decoration: underline;
      }
    }
  }
}