@import"page-contacts";
@import "page-home";
@import "page-catalog";
@import "about-us";

.container {
  width: 1240px;
  margin: auto;
  position: relative;
  height: inherit;
  text-align: center;
}